<h1>Create Album</h1>

<%= render "shared/errors" %>

<form action="<%= albums_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label for="album_album_name">Name</label>
  <input
    type="text"
    name="album[album_name]"
    id="album_name"
    value="<%= @album.album_name %>">


  <label for="album_band_id">Band</label>
  <select name=album[band_id]
          id="album_band_id">
    <option></option>
    <% Band.all.each do |band| %>
      <% selected = @album.band_id == band.id %>
      <option
        <%= selected ? "selected" : "" %>
        value="<%= band.id %>">
        <%= band.band_name %>
      </option>
    <% end %>
  </select>

  <input
    type="radio"
    name="album[album_type]"
    value="Live"
    id="live_album"
    <%= @album.album_type == "Live" ? "checked" : "" %>>
  <label for="album_type_live">Live</label>
  <input
    type="radio"
    name="album[album_type]"
    value="Studio"
    id="studio_album"
    <%= @album.album_type == "Studio" ? "checked" : "" %>>
  <label for="album_type_studio">Studio</label>
  <br>

  <input type="submit">
</form>
